<!DOCTYPE html>
<html ng-app="app" lang="en">

<base href="/">

<div ng-view autoscroll></div>

<!-- Vendor JS -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/libs/angular/angular.min.js"></script>
<script src="/assets/libs/angular-route/angular-route.min.js"></script>
<script src="/assets/libs/jquery-template/jquery-loadTemplate/jquery.tmpl.min.js"></script>
<script src="/assets/libs/jquery-template/jquery-loadTemplate/jquery.tmpl.min.js"></script>
<script src="/assets/libs/jquery-template/jquery-loadTemplate/jquery.tmpl.min.js"></script>
<script src="/assets/libs/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
<script src="/assets/libs/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/assets/libs/glfx.js"></script>
<script src="/assets/libs/jquery-ui/jquery-ui.min.js"></script>

<!-- Angular App JS -->
<script src="/app/app.js"></script>
<script src="/app/appRoutes.js"></script>
<script src="/app/ctrl.js"></script>
<script src="/app/directives.js"></script>
<script src="/app/services.js"></script>
